<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/66ac6f56-ddee-473d-b17d-a2ac49652e92/resourcegroups/ondotnet/providers/Microsoft.Web/sites/OnlineShoppingStoreWebUi123</ResourceId>
    <ResourceGroup>ondotnet</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlineshoppingstorewebui123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>onlineshoppingstorewebui123.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnlineShoppingStoreWebUi123</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OnlineShoppingStoreWebUi123</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:onlineshoppingstorewebui123dbserver.database.windows.net,1433;Initial Catalog=OnlineShoppingStoreWebUi123_dbServer;User ID=Paulus@onlineshoppingstorewebui123dbserver;Password=Hemsleys092011?" Name="Data Source=tcp:onlineshoppingstorewebui123dbserver.database.windows.net,1433;Initial Catalog=OnlineShoppingStoreWebUi123_dbServer;User Id=Paulus@onlineshoppingstorewebui123dbserver;Password=Hemsleys092011?" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OnlineHoppingStore.Domain.Concrete.EFDbContext, OnlineHoppingStore.Domain" MigrationConfiguration="OnlineHoppingStore.Domain.Migrations.Configuration, OnlineHoppingStore.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:onlineshoppingstorewebui123dbserver.database.windows.net,1433;Initial Catalog=OnlineShoppingStoreWebUi123_dbServer;User Id=Paulus@onlineshoppingstorewebui123dbserver;Password=Hemsleys092011?</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>